.avatar {
	width: 150px; 
	height: 150px; 
	border-radius: 50%;
    margin-top: 20px;
}

#AG13 {
    margin-right: 85px;
    margin-left: 20px;
}

#VBMI {
	margin-right: 75px;
	margin-left: 75px;
}

#EHBT {
	margin-right: 75px;
	margin-left: 75px;
}
